<% form_for :user, @user, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password_hash %><br />
    <%= f.text_field :password_hash %>
  </p>

  <%= password_field "user", "password" %>
  <%= password_field "user", "password_confirmation" %>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
