<% form_for(@expence) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.label :currency %><br />
    <%= f.text_field :currency %>
  </p>

  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>

  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>

  <p>
    <%= f.label :longditude %><br />
    <%= f.text_field :longditude %>
  </p>

  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
